<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <p class="card-text text-center">
                <form method="post">
                    Пройдите по
                    <a class="text-center verify-button" href="{{ link }}">
                        ссылке
                    </a>
                    , чтобы изменить пароль для {{ email }}
                </form>
            </p>
        </div>
    </div>
</body>
</html>